.gallery {
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(40, 45, 53, 255);
    transition: 0.4s ease-out;
}

.gallery.darkMode {
    background-color: rgba(40, 45, 53, 255);
    color: white;
    border-bottom: 1px solid white;
}

.gallery_photos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .gallery_photos {
        width: 680px;
    }
}

@media (min-width: 1280px) {
    .gallery_photos {
        width: 1020px;
    }
}