.gallery {
    height: 100%;
    padding: 20px;
    border-bottom: 1px solid rgba(40, 45, 53, 255);
    transition: 0.4s ease-out;
}

.gallery_photos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}