.gallery {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.gallery_photos {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    /* background-color: yellow; */
    margin: 0 auto;
}

.gallery_tittle {
    text-align: center;
    font-size: 50px;
}