.header {
    position: relative;
    height: calc(100vh - 80px);
    width: 100%;
    transition: 0.4s ease-out;
}

.header_container {
    display: flex;
    border-bottom: 1px solid rgba(40, 45, 53, 255)
}

.header_box {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: rgba(40, 45, 53, 255);
    transition: 0.4s ease-out;
}

.header_box.first {
    color: white
}

.header_box.first.darkMode {
    color: rgba(40, 45, 53, 255);
    background-color: white;
}

.first {
    width: 100%
}

.second {
    display: none;
    width: 50%;
}

.third {
    display: none;
    width: 33%;
}

.header_title {
    margin-top: 200px;
    font-size: 60px;
    padding-left: 40px;
}

.header_desc {
    /* color: white; */
    padding: 0 40px 0 40px;
}

.header_image_container {
    display: none;
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 100%;
}

.header_image {
    position: absolute;
    transform: translate(-10%, -10%);
    width: 120%;
}

.header_about {
    display: none;
    height: 30%;
    padding: 15%;
    width: 100%;
    transition: 0.4s ease-out;
    background-color: white;
}

.header_about.darkMode {
    color: white;
    background-color: rgba(40, 45, 53, 255);
}

@media (min-width: 768px) {
    .first {
        width: 50%
    }
    .second {
        display: block;
    }
    .header_image_container {
        display: block;
    }
    .header_about {
        display: block;
    }
}

@media (min-width: 1020px) {
    .first {
        width: 33.33333333%;
    }
    .second {
        width: 33.33333333%;
    }
    .third {
        display: block;
        width: 33.33333333%;
    }
    .header_image_container {
        display: block;
    }
    .header_about {
        display: block;
    }
}