.miniPhoto {
    width: 150px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.miniPhoto_image {
    position: absolute;
    height: 350px;
    transform: translateX(-50%);
}

.miniPhoto_image:hover {
    cursor: pointer;
}

.nonVisible {
    display: none
}